@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind icons;


::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: indigo;
  }
  
  .scrollable-element {
    overflow: hidden;
  }
  